@import "variables";

%boton {
    background-color: $botonColor;
    border-radius: $border;
    border: $botonBorde;
    padding: $botonPadding;
}

@mixin boton2 ($bg-color,$width,$height){
    background-color:$bg-color;
    width: $width;
    height: $height;
}
