@import "variables";

.error{
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
    justify-self: center;
    align-content: space-evenly;

}


.error__titulo{
    color:whitesmoke;
    font-size: 2rem;
    padding:5rem;
    margin: auto;
    text-align: center;
   

}

.error__icono {
    width:50%;
    height:50%;
    padding: $imgPadding;
    align-self: center;
    justify-self: center;
    align-content: space-evenly;
    
    
      
         img {
                width:60%;
                height:60%;
                align-self: center;
                justify-self: center;
                align-content: center;
                margin-left: 20%;
                margin-right: 20%;
                    
              }
            
}