@import "variables";

.body__error{

    background-color: rgb(17, 16, 16);
}

.error{
    
    display: flex;
    flex-direction: column;
}


.error__titulo{
    color:rgb(155, 148, 148);
    font-size: 300%;
    padding:5rem;
    margin: auto;
    text-align: center;
}

.error__icono {
    width:50%;
    height:50%;
    padding: $imgPadding;
    align-self: center;
    justify-self: center;
    align-content: space-evenly;
    
    
      
         img {
                width:60%;
                height:60%;
                align-self: center;
                justify-self: center;
                align-content: center;
                margin-left: 20%;
                margin-right: 20%;
                    
              }
            
}

@media only screen and (min-width: 401px) and (max-width: 960px){  /*tablet*/
    .error__titulo{
        
        font-size: 100%;
        
    }
}

@media only screen and (max-width: 400px){       /*celular*/

    .error__titulo{
        
        font-size: 80%;
        
    }
}