/*>>>>>>>COMENTARIOS SOBRE LAS VARIBLES<<<<<<<<<*/


/*Colores en gral*/

$color-bg2:#fff8dc;             /*para el fondo  del sitio*/
$color-primary: #e6b464;        /*Header y footer de todo el sitio*/
$colorNombreReceta:whitesmoke;  /*Para el título de las recetas en el index*/
$bg-color-formulario-1:#ffe7dc; /* Para el estilo del formulario de ingreso a receta y contacto*/
$bg-color-formulario-2:#fff8dc; /* Para el estilo del formulario de ingreso a receta y contacto*/
$bg-color-formulario-3:#ffdce3; /* Para el estilo del formulario de ingreso a receta y contacto*/
$bg-color-formulario-4:#dcf5ff; /* Para el estilo del formulario de ingreso a receta y contacto*/
$bg-color-formulario-5:#dcfff8; /* Para el estilo del formulario de ingreso a receta y contacto*/
$bg-color-formulario-6:#ffe990; /* Para el estilo del formulario de ingreso a receta y contacto*/
$bg-color-formulario-7:#ffeea9; /* Para el estilo del formulario de ingreso a receta y contacto*/
$bg-color-formulario-8:#fff3c3; /* Para el estilo del formulario de ingreso a receta y contacto*/
$bg-color-formulario-9:#fff8dc; /* Para el estilo del formulario de ingreso a receta y contacto*/  
$bg-color-formulario-10:#fffdf6;/* Para el estilo del formulario de ingreso a receta y contacto*/
$bg-color-formulario-11:#181300;/* Para el estilo del formulario de ingreso a receta y contacto*/
$bg-color-formulario-12:#949c9c; /* Para el estilo del formulario de ingreso a receta y contacto*/
$color-secondary:cornsilk;      /*Utilizado para el fondo del modal en las recetas*/
$color1: #6496e6; /*Color complementario al del header y footer*/
$color2: #e67364; /*Color análogo al del header y footer*/
$color3:#d7e664; /*Color análogo al del header y footer*/
$color4: #64d7e6; /*Parte del color complementario*/
$color5: #b464e6; /*Color triádico*/
$color6: #64e6b4; /*Color triádico*/
$color7: #e66496; /*Color tetaédrico*/
$color8:#ff90a6;/*Color botón grid*/

/*Sombras*/

$shadow: 0px 3px 10px -2px rgba(176,131,54,0.85); /* Esta es la sombra utilizada para el header*/

/*Bordes*/

$border:5px; /* Este borde se utiliza en todos los elementos del sitio: fotos, modales, bordes del formulario, etc.*/

/*Logo de la página*/

$iconoWidth: 5.5rem;

/*Imágenes del index. Las imágenes del index tienen las siguientes características:*/

$imgRecetaAncho: 300px;
$imgRecetaAlto: 200px;
$imgPadding:2px;
$imgOpacity:0.7;

/*Títulos que acompañan las fotos en el index*/

$letraReceta: 'Roboto', sans-serif;
$sizeLetraReceta: 1.6rem;
$lugarNombreReceta:center;

/*Márgenes, padding y tamaño de letra para uso gral.*/ 

$marginH2:1rem; /* Se usa para los márgenes del formulario de ingreso de receta*/
$paddingH2:2rem; /*Se usa en los formularios y para las descargas de "mi semana"*/
$FontH2: 'Roboto', sans-serif; /*Se utiliza en los formularios y en el header*/
$SizeFontH2:1rem; /*Se utiliza en el header*/

/*Botones*/

/*botón1*/
$botonColor:lightpink;
$botonBorde: whitesmoke solid 2px;
$botonPadding:0.5em;

/*botón2*/
$botonColor2:#bbded6;
$botonBorde2:#61c0bf;
$botonPadding:0.5rem;

/*Acordion*/
$bg-ColorAcordion:#fff6db;


/*footer*/
$paddingFooter:0.1rem;
$marginFooter:0.5rem;
$fontFooter:'Noto Sans HK', sans-serif;
$fontSizeFooter:1.1rem;
$fontFooterColor:black;

/*Grid (pertenece a "Mi semana"*/
$gridSize:14.27%;

/*Página 404*/
$bg-error:black;

/*>>>>>>>FIN DE COMENTARIOS SOBRE LAS VARIBLES<<<<<<<<<*/


* {
    margin:0;
    padding:0;

}


.body__fondo2 {
 background-color: $color-bg2;      /*Afecta al resto de las págs. del sitio*/

}



/*Navegador*/

header {
   
    box-shadow: $shadow;
    }

main {
    margin:10px;
    padding-bottom:2rem;
}

%boton {
    background-color: $botonColor;
    border-radius: $border;
    border: $botonBorde;
    padding: $botonPadding;
}

nav {                                        
    background-color: $color-primary;
    
    .boton {
        @extend%boton;
    }
}

.icono{                                     
    
    width: $iconoWidth;
    
    img { 
        
        width: 100%;
        height: 100%;
        padding:0.5rem;
    }

 }

  

 /*Botones en gral. de todo el sitio*/


 %boton {
    background-color: $botonColor;
    border-radius: $border;
    border: $botonBorde;
    padding: $botonPadding;
}

@mixin boton2 ($bg-color,$width,$height){
    background-color:$bg-color;
    width: $width;
    height: $height;
}


/*INDEX del sitio.*/

.galeria {                               
                        
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    .galeria__Recetas{                           

        width:$imgRecetaAncho;
        height:$imgRecetaAlto;

    .galeria__img {
        border-radius:$border;
        width:$imgRecetaAncho;
        height:$imgRecetaAlto;
        padding: $imgPadding;
        &:hover{ opacity:$imgOpacity}
    }


    .galeria__link {
        text-decoration: none;
        color:black;
        position: initial;
        transform: translate(1%, -300%);
 
    .galeria__nombre {
        font-family: $letraReceta;
        text-align: $lugarNombreReceta;
        font-size: $sizeLetraReceta;
        color: $colorNombreReceta;
        font-weight: 700;
        position: initial;
        transform: translate(1%, -300%);
        opacity:0;

    &:hover{  opacity:1;
              text-shadow: 2px 0 0 grey, -2px 0 0 grey, 0 2px 0 grey, 0 -2px 0 grey, 1px 1px grey, -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey;
            }
                
        }

      }

    }
 }

 h3{
    text-align: center;
    padding: 3rem;
}

/*INDEX CELULAR* - Se modifica opacidad de título para celular porque no hay hover*/

@media only screen and (max-width: 400px) {

    .galeria {                               
                        
        display: flex;
        flex-wrap: wrap;
        display: column;
        justify-content: center;
       
        
    
        .galeria__Recetas{                           
    
            width:$imgRecetaAncho;
            height:$imgRecetaAlto;
    
        .galeria__img {
            border-radius:$border;
            width:$imgRecetaAncho;
            height:$imgRecetaAlto;
            opacity:0.8;
        }
    
    
        .galeria__link {
            text-decoration: none;
            color:black;
            position: initial;
            transform: translate(1%, -300%);
     
        .galeria__nombre {
            font-family: $letraReceta;
            text-align: $lugarNombreReceta;
            font-size: $sizeLetraReceta;
            color: $colorNombreReceta;
            font-weight: 500;
            position: initial;
            transform: translate(1%, -300%);
            opacity:1;
            text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
               
            }
    
          }
    
        }
     }
        

    }

    /*INDEX TABLET* - Se modifica opacidad de título para TABLET porque no hay hover*/

    @media only screen and (min-width: 401px) and (max-width: 960px) {      /*tablet*/

        .galeria {                               
                            
            display: flex;
            flex-wrap: wrap;
            display: column;
            justify-content: center;
           
            
        
            .galeria__Recetas{                           
        
                width:$imgRecetaAncho;
                height:$imgRecetaAlto;
        
            .galeria__img {
                border-radius:$border;
                width:$imgRecetaAncho;
                height:$imgRecetaAlto;
                opacity:0.8;
            }
        
        
            .galeria__link {
                text-decoration: none;
                color:black;
                position: initial;
                transform: translate(1%, -300%);
         
            .galeria__nombre {
                font-family: $letraReceta;
                text-align: $lugarNombreReceta;
                font-size: $sizeLetraReceta;
                color: $colorNombreReceta;
                font-weight: 500;
                position: initial;
                transform: translate(1%, -300%);
                opacity:1;
                text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
                   
                }
        
              }
        
            }
         }
            
    
        }


    /*Modal para recetas*/

    .modal-fade {
        border-radius: $border;
    }

    .modal-header{
        display: flex;
        flex-direction: column;
        background-color: $color-primary;
    }

    .modal-title{
        font-family: $letraReceta;
        font-size: 200%;
        font-weight: 800;
        color: whitesmoke;
        word-spacing: 5%;
    }

    .modal__img{
        width:100%;
        height: auto;
        border-radius: $border;
    }

    .modal__ul, .modal__ol{
        padding-top: 1rem;
    }
    
    .modal__li{
        padding:0.5rem;
    }

    .modal-footer{
        background-color: $color-primary;
    }

    .modal-body {
        background-color: $color-secondary;
    }

    .modal__boton{
        @extend%boton;
    }

    .modal__link {
        text-decoration: none;
        color: black;
    }

    .modal-footer{
        display: flex;
        flex-direction: row;
    }

    /*Modal de recetas para celular. Lo que hace es acomodar los botones del footer en modo responsive*/

    @media only screen and (max-width: 400px) {                       /*celular*/
        
        .modal-title{
            font-size: 200%;
            text-align: center;
        }
        .modal-footer{
            display: flex;
            flex-direction: column;
        }

    } 


/*PÁG. 'Tips Rápidos' El acordión afecta a la pag. de info gral*/
.acordion {                                                
    
    border: $border;
    border-radius: $border;
    width:60%;
    margin: auto;

.acordion__titulo{

    padding:0.1rem}



.acordion__boton1, .acordion__boton4, .acordion__boton7, .acordion__boton10, .acordion__boton13  {
@include boton2 ($color7, 99.9%, 5rem);
@extend %boton;
&:hover{background-color:grey;}
}

.acordion__boton2, .acordion__boton5, .acordion__boton8, .acordion__boton11 {
    @include boton2 ($color4, 99.9%, 5rem);
    @extend %boton;
    &:hover{background-color:grey;}
    }

.acordion__boton3, .acordion__boton6, .acordion__boton9, .acordion__boton12 {
    @include boton2 ($color6, 99.9%, 5rem);
    @extend %boton;
    &:hover{background-color:grey;}
    }


.acordion__p {
    text-align: center;
    font-size: 150%;
    margin: 0.1rem;           
}

}

@media only screen and (min-width: 401px) and (max-width: 960px) {                /*tablet*/

    .acordion {                                                
        
        width:100%;
       
}

}

@media only screen and (max-width: 400px){                   /*celular*/

    .acordion {                                                
        
        width:100%;
       
}

}

/*Para poágina 404*/


.body__error{

    background-color: rgb(17, 16, 16);
}

.error{
    
    display: flex;
    flex-direction: column;
}


.error__titulo{
    color:rgb(155, 148, 148);
    font-size: 300%;
    padding:5rem;
    margin: auto;
    text-align: center;
}

.error__icono {
    width:50%;
    height:50%;
    padding: $imgPadding;
    align-self: center;
    justify-self: center;
    align-content: space-evenly;
    
    
      
         img {
                width:60%;
                height:60%;
                align-self: center;
                justify-self: center;
                align-content: center;
                margin-left: 20%;
                margin-right: 20%;
                    
              }
            
}

@media only screen and (min-width: 401px) and (max-width: 960px){  /*tablet*/
    .error__titulo{
        
        font-size: 100%;
        
    }
}

@media only screen and (max-width: 400px){       /*celular*/

    .error__titulo{
        
        font-size: 80%;
        
    }
}


/*Para la pág. de contacto*/

.formulario-contacto {


    background-color: #74BABC;
    width: 80%;
    margin: 5% 10% 10%;
    padding:2REM;
    border-radius: $border;
}

    .contacto__boton {
        @extend%boton;
        background-color: $bg-color-formulario-12;
    }

.modal-body__p{
    text-align: justify;
}

/*Celular pág. de contacto*/

@media only screen and (max-width: 400px) {

.formulario-contacto {
    width: 100%;
    margin: 2% 1% 1%;
    padding: 1.5rem;
}
}

/*formulario: afecta al ingreso de receta*/



h1, h2 {text-align: center;
    padding:3rem;
    margin: auto;
 }
 
 .formulario {               
     background-color:#ffdbe2;
     border-radius: $border;                 
     margin: auto;
     padding: 4.5rem;
     width: 60%;
         
        .formulario__margen{ 
            margin-bottom: 2rem;
        }
 
            .formulario__foto{
 
             background-color: white;
             border-radius: $border;
             padding: $botonPadding;
             font-family: $FontH2;
             color:rgb(75, 71, 71);
             width: 100%;
         
         }
 
         .formulario__img {
             margin-top: 0.8rem;
             width:2rem;
             height: 2rem;
             &:hover{background-color: $bg-color-formulario-4;}
             
         }
 
         .formulario__agregar{                           /*Se refiere a agregar un ingrediente o un paso*/
             display:flex;
             flex-direction: row;
             align-content: flex-start;
             align-items: center;
             cursor:pointer;
             strong
                 {padding-left:2rem;
                 padding-top:1rem; 
                 }
 
             }

         select{
             background-color: $botonColor2;
             border-radius: $border;
             border: 1px solid $botonBorde2;
             padding: $botonPadding;
             font-family: $FontH2;
             color:rgb(75, 71, 71);
         }
 
 
         .formulario__boton2{
         @extend%boton;
         background-color: $color-primary;
         float: right;
         }
 
         .boton_enviarBorrar {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-content: flex-start;
            margin: auto;
        }

        .formulario__checkbox {
            width: 60%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: baseline;
            align-content: flex-start;
        
        }
 
     }

     /*Este estilo afecta al ingreso de recetas para responsive*/
 
     @media only screen and (min-width: 401px) and (max-width: 960px) {                /*tablet*/
        
         .formulario {
             
            width: 85%;   
     }

     select{
 
        width: 95%;
    
    }
     
     }
 
     @media only screen and (max-width: 400px){                   /*celular*/
         
        .formulario {
            width: 100%;
            margin: 2% 1% 1%;
            padding: 1.5rem;
 
         label, strong {
             text-align: center;
            }
 
         .formulario__label{
             padding: 1%;
             font-size: 110%;
             margin: 1%;
             width: 100%;
             text-align: center;
             }
        }
 
    }



/*El grid es para "Mi semana" . La versión PC tiene 7 columnas y tres filas. Para responsive, se usa una única columna*/

.semana {                                                           
    display:grid;
    grid-template-columns: repeat(7, $gridSize);
    grid-template-rows: 20% 2% 35% 2% 35%;
    grid-column-gap: 2px;
    grid-row-gap: 1px; 
    grid-template-areas: "encabezado-domingo encabezado-lunes encabezado-martes encabezado-miércoles encabezado-jueves encabezado-viernes encabezado-sábado"
                         "almuerzo-domingo almuerzo-lunes almuerzo-martes almuerzo-miércoles almuerzo-jueves almuerzo-viernes almuerzo-sábado"
                         "menú-alumerzo-domingo menú-alumerzo-lunes menú-alumerzo-martes menú-alumerzo-miércoles menú-alumerzo-jueves menú-alumerzo-viernes menú-alumerzo-sábado"
                         "cena-domingo cena-lunes cena-martes cena-miércoles cena-jueves cena-viernes cena-sábado"
                         "menú-cena-domingo menú-cena-lunes menú-cena-martes menú-cena-miércoles menú-cena-jueves menú-cena-viernes menú-cena-sábado";
    padding:8px;
    width: 99.9%;
    background-color: $bg-color-formulario-3;
    margin:auto;
    border-radius: $border;

}

.encabezado-domingo {
    grid-area:encabezado-domingo;
    @extend%header;
    
}

.encabezado-lunes {
    grid-area:encabezado-lunes;
    @extend%header;
}

.encabezado-martes {
    grid-area:encabezado-martes;
    @extend%header;
}

.encabezado-miércoles {
    grid-area:encabezado-miércoles;
    @extend%header;
}

.encabezado-jueves {
    grid-area:encabezado-jueves;
    @extend%header;
}

.encabezado-viernes {
    grid-area:encabezado-viernes;
    @extend%header;
}

.encabezado-sábado {
    grid-area:encabezado-sábado;
    @extend%header;
}

.almuerzo-domingo {
    grid-area: almuerzo-domingo;
    text-align: center;
    margin:0.2rem;
}

.almuerzo-lunes {
    grid-area: almuerzo-lunes;
    text-align: center;
    margin:0.2rem;
}

.almuerzo-martes {
    grid-area: almuerzo-martes;
    text-align: center;
    margin:0.2rem;
}

.almuerzo-miércoles {
    grid-area: almuerzo-miércoles;
    text-align: center;
    margin:0.2rem;
}

.almuerzo-jueves {
    grid-area: almuerzo-jueves;
    text-align: center;
    margin:0.2rem;
}

.almuerzo-viernes {
    grid-area: almuerzo-viernes;
    text-align: center;
    margin:0.2rem;
}

.almuerzo-sábado {
    grid-area: almuerzo-sábado;
    text-align: center;
    margin:0.2rem;
}

.cena-domingo {
    grid-area: cena-domingo;
    text-align: center;
    margin:0.2rem;
}

.cena-lunes {
    grid-area: cena-lunes;
    text-align: center;
    margin:0.2rem;
}

.cena-martes {
    grid-area: cena-martes;
    text-align: center;
    margin:0.2rem;
}

.cena-miércoles {
    grid-area: cena-miércoles;
    text-align: center;
    margin:0.2rem;
}

.cena-jueves {
    grid-area: cena-jueves;
    text-align: center;
    margin:0.2rem;
}

.cena-viernes {
    grid-area: cena-viernes;
    text-align: center;
    margin:0.2rem;
}

.cena-sábado {
    grid-area: cena-sábado;
    text-align: center;
    margin:0.2rem;
}

%header {
padding:0.5rem;
margin: 1rem;
text-align: center;
align-self: center;
font-family: $FontH2;
font-size: $SizeFontH2;
}

.menú-alumerzo-domingo {
    grid-area: menú-alumerzo-domingo;

}
.menú-alumerzo-lunes {
    grid-area: menú-alumerzo-lunes;
}
.menú-alumerzo-martes {
    grid-area: menú-alumerzo-martes;
}
.menú-alumerzo-miércoles {
    grid-area: menú-alumerzo-miércoles;
}
.menú-alumerzo-jueves {
    grid-area: menú-alumerzo-jueves;
}
.menú-alumerzo-viernes{
    grid-area: menú-alumerzo-viernes;
}
.menú-alumerzo-sábado {
    grid-area: menú-alumerzo-sábado;
}

.menú-cena-domingo {
    grid-area: menú-cena-domingo;
}
.menú-cena-lunes {
    grid-area: menú-cena-lunes;
}
.menú-cena-martes {
    grid-area: menú-cena-martes;
}
.menú-cena-miércoles {
    grid-area: menú-cena-miércoles;
}
.menú-cena-jueves {
    grid-area: menú-cena-jueves;
}
.menú-cena-viernes{
    grid-area: menú-cena-viernes;
}
.menú-cena-sábado {
    grid-area: menú-cena-sábado;
}

.completar{
    @extend%header;
    background-color: white;
    border-radius: $border;
    border: white solid 2px;
    padding: $botonPadding;
}


@media only screen and (max-width: 400px) { /*celular*/

    .semana {                                                           
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5%;
        grid-column-gap: 2px;
        grid-row-gap: 1px; 
        grid-template-areas: 

        "encabezado-domingo"
        "almuerzo-domingo"
        "menú-alumerzo-domingo"
        "cena-domingo"
        "menú-cena-domingo" 
        "encabezado-lunes"
        "almuerzo-lunes"
        "menú-alumerzo-lunes"
        "cena-lunes"
        "menú-cena-lunes" 
        "encabezado-martes"
        "almuerzo-martes"
        "menú-alumerzo-martes"
        "cena-martes"
        "menú-cena-martes"    
        "encabezado-miércoles"
        "almuerzo-miércoles"
        "menú-alumerzo-miércoles"
        "cena-miércoles"
        "menú-cena-miércoles"    
        "encabezado-jueves"
        "almuerzo-jueves" 
        "menú-alumerzo-jueves"
        "cena-jueves"
        "menú-cena-jueves"
        "encabezado-viernes"
        "almuerzo-viernes"
        "menú-alumerzo-viernes"
        "cena-viernes"
        "menú-cena-viernes"    
        "encabezado-sábado"
        "almuerzo-sábado" 
        "menú-alumerzo-sábado"
        "cena-sábado"
        "menú-cena-sábado";
    }

    .encabezado-domingo, .encabezado-lunes, .encabezado-martes, .encabezado-miércoles, .encabezado-jueves, .encabezado-viernes, .encabezado-sábado 
{
    background-color: $color-primary;
    margin: 2rem;

}

}

@media only screen and (min-width: 401px) and (max-width: 960px)  { /*tablet*/

    .semana {                                                           
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5%;
        grid-column-gap: 2px;
        grid-row-gap: 1px; 
        grid-template-areas:
        "encabezado-domingo"
        "almuerzo-domingo"
        "menú-alumerzo-domingo"
        "cena-domingo"
        "menú-cena-domingo" 
        "encabezado-lunes"
        "almuerzo-lunes"
        "menú-alumerzo-lunes"
        "cena-lunes"
        "menú-cena-lunes" 
        "encabezado-martes"
        "almuerzo-martes"
        "menú-alumerzo-martes"
        "cena-martes"
        "menú-cena-martes"    
        "encabezado-miércoles"
        "almuerzo-miércoles"
        "menú-alumerzo-miércoles"
        "cena-miércoles"
        "menú-cena-miércoles"    
        "encabezado-jueves"
        "almuerzo-jueves" 
        "menú-alumerzo-jueves"
        "cena-jueves"
        "menú-cena-jueves"
        "encabezado-viernes"
        "almuerzo-viernes"
        "menú-alumerzo-viernes"
        "cena-viernes"
        "menú-cena-viernes"    
        "encabezado-sábado"
        "almuerzo-sábado" 
        "menú-alumerzo-sábado"
        "cena-sábado"
        "menú-cena-sábado";
    }
    .encabezado-domingo, .encabezado-lunes, .encabezado-martes, .encabezado-miércoles, .encabezado-jueves, .encabezado-viernes, .encabezado-sábado 
    {
        background-color: $color-primary;
        margin: 2rem;
    
    }

}

/*Botón de descarga de "Mi semana"*/

.descarga {
width: 99.5%;
padding: $paddingH2;
display: flex;
justify-content: flex-end;


  
.descarga__boton {
 
@extend%boton;

&:hover{ background-color: gray;}

}

}

/*Estilo de botón de descarga de "Mi semana" para responsive*/

@media only screen and (max-width: 400px) {              /*celular*/

    .descarga {
        justify-content: center;
    }

}          

/*Estilo del footer*/

footer {                                              
    background-color: $color-primary;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
       .footer__p {   
             font-family: $fontFooter;
             font-size: $fontSizeFooter;
             color: $fontFooterColor;
             padding: $paddingFooter;
             text-align: center;
             font-weight: 800;
             
         }

        .socialMedia {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;  

                    img { 
                    
                    width: 2rem;
                    height: 2rem;
                    padding: $paddingFooter;
                    margin:$marginFooter;
                    
                }

        }

        .mapa-de-sitio__titulo {
            font-family: $fontFooter;
            font-size: $fontSizeFooter;
            color: $fontFooterColor;
            text-align: center;
            font-weight: 200;
            margin: 1rem;
        }

        .mapa-de-sitio__link {
            
            text-decoration: none;
            color: $bg-color-formulario-11;

        }
            .mapa-de-sitio__encabezado {
                list-style: none;
                text-align: left;
                color: $fontFooterColor;
            }
                           
            .mapa-de-sitio__encabezado--enlace{
                list-style: none;
                text-align: left;
                color: $fontFooterColor;
                           &:hover  {
                    background-color: $bg-ColorAcordion;
                    cursor: pointer;
                                  }
            }



            .mapa-de-sitio__submenu { 

                list-style: none;
                text-align: left;
                margin-left: 1rem;
                color: $fontFooterColor;
                &:hover{
                    background-color: $bg-color-formulario-12;
                    cursor: pointer;
                }
            }

        

}


@media only screen and (max-width: 400px) { /*celular*/

    footer {                                              
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .footer__p{                                  
            font-size: 1rem;
        }

        img {
            width:0.7rem;
            height:0.7rem;
        }
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px)  { /*tablet*/

    footer {                                              
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
    .footer__p {                                    
        font-size: 1rem;
    }

    img {
        width:1rem;
        height:1rem;
    }
    
}

}





