@charset "UTF-8";
/*@import"variables";*/
/*general*/
/*imagen*/
/*título de las fotos en pág principal*/
/*h2*/
/*botón1*/
/*botón2*/
/*acordion*/
/*footer*/
/*Grid*/
/*404*/
/*general*/
/*imagen*/
/*título de las fotos en pág principal*/
/*h2*/
/*botón1*/
/*botón2*/
/*acordion*/
/*footer*/
/*Grid*/
/*404*/
.formulario .formulario__boton2, nav .boton, .acordion .acordion__boton1, .acordion .acordion__boton4, .acordion .acordion__boton7, .acordion .acordion__boton2, .acordion .acordion__boton5, .acordion .acordion__boton8, .acordion .acordion__boton3, .acordion .acordion__boton6, .acordion .acordion__boton9 {
  background-color: lightpink;
  border-radius: 5px;
  border: whitesmoke solid 2px;
  padding: 0.5rem;
}

h2 {
  text-align: center;
  padding: 3rem;
  margin: auto;
}

.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulario {
  /*background-color: $color-bg; Analizar si queda mejor*/
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), to(#fff6db));
  background-image: linear-gradient(to top, white, #fff6db);
  border-radius: 5px;
  margin: auto;
  padding: 4.5rem;
  width: 60%;
}

.formulario .formulario__label {
  padding: 0.7rem;
  font-size: 110%;
  margin: 1%;
  width: 100%;
}

.formulario .formulario__input {
  background-color: white;
  color: whitesmoke solid 2px;
  border: 3px solid #61c0bf;
  border-radius: 5px;
  height: 3rem;
  width: 40%;
  margin: 10px;
  float: center;
}

.formulario .formulario__input--ingrediente {
  background-color: white;
  color: whitesmoke solid 2px;
  border: 3px solid pink;
  border-radius: 5px;
  height: 3rem;
  width: 80%;
  margin: 10px;
}

.formulario .formulario__input--pasos {
  background-color: white;
  color: whitesmoke solid 2px;
  border: 3px solid #e6c486;
  border-radius: 5px;
  height: 5rem;
  width: 80%;
  margin: 10px;
}

.formulario .formulario__boton--ingrediente {
  background-color: pink;
  border-radius: 5px;
  border: 1px solid #e9b7e5;
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 3rem;
}

.formulario .formulario__boton {
  background-color: #bbded6;
  border-radius: 5px;
  border: 1px solid #61c0bf;
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
  color: #4b4747;
}

.formulario .formulario__img {
  width: 3rem;
  height: 3rem;
}

.formulario .formulario__img:hover {
  background-color: paleturquoise;
}

.formulario .formulario__agregar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  cursor: pointer;
}

.formulario .formulario__agregar strong {
  padding-left: 2rem;
  padding-top: 1rem;
}

.formulario select {
  background-color: #bbded6;
  border-radius: 5px;
  border: 1px solid #61c0bf;
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
  color: #4b4747;
}

.formulario .formulario__boton2 {
  float: right;
}

.formulario .boton_enviarBorrar {
  float: right;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  /*tablet*/
  .formulario {
    width: 80%;
  }
  .formulario .formulario__input, .formulario .formulario__input--ingrediente, .formulario .formulario__input--pasos {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  /*celular*/
  .formulario {
    width: 100%;
  }
  .formulario .formulario__input, .formulario .formulario__input--ingrediente, .formulario select {
    width: 100%;
  }
  .formulario .formulario__input--pasos {
    width: 100%;
    height: 12rem;
  }
  .formulario label, .formulario strong {
    text-align: center;
  }
  .formulario__label {
    padding: 1%;
    font-size: 110%;
    margin: 1%;
    width: 100%;
    text-align: center;
  }
  .boton_enviarBorrar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .check__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeria .galeriaRecetas {
  width: 300px;
  height: 200px;
}

.galeria .galeriaRecetas img {
  border-radius: 5px;
  width: 300px;
  height: 200px;
  padding: 2px;
}

.galeria .galeriaRecetas img:hover {
  opacity: 0.7;
}

.galeria .galeriaRecetas a {
  text-decoration: none;
  color: black;
  position: initial;
  -webkit-transform: translate(1%, -300%);
          transform: translate(1%, -300%);
}

.galeria .galeriaRecetas a .nombreReceta {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.6rem;
  color: whitesmoke;
  font-weight: 700;
  position: initial;
  -webkit-transform: translate(1%, -300%);
          transform: translate(1%, -300%);
  opacity: 0;
}

.galeria .galeriaRecetas a .nombreReceta:hover {
  opacity: 1;
  text-shadow: 2px 0 0 grey, -2px 0 0 grey, 0 2px 0 grey, 0 -2px 0 grey, 1px 1px grey, -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey;
}

/*general*/
/*imagen*/
/*título de las fotos en pág principal*/
/*h2*/
/*botón1*/
/*botón2*/
/*acordion*/
/*footer*/
/*Grid*/
/*404*/
header {
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 10px -2px rgba(176, 131, 54, 0.85);
          box-shadow: 0px 3px 10px -2px rgba(176, 131, 54, 0.85);
}

main {
  margin: 10px;
  padding-bottom: 2rem;
}

.formulario .formulario__boton2, nav .boton, .acordion .acordion__boton1, .acordion .acordion__boton4, .acordion .acordion__boton7, .acordion .acordion__boton2, .acordion .acordion__boton5, .acordion .acordion__boton8, .acordion .acordion__boton3, .acordion .acordion__boton6, .acordion .acordion__boton9 {
  background-color: lightpink;
  border-radius: 5px;
  border: whitesmoke solid 2px;
  padding: 0.5rem;
}

nav {
  background-color: #e6b464;
}

.icono {
  width: 5.5rem;
}

.icono img {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

/*general*/
/*imagen*/
/*título de las fotos en pág principal*/
/*h2*/
/*botón1*/
/*botón2*/
/*acordion*/
/*footer*/
/*Grid*/
/*404*/
footer {
  background-color: #e6b464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-family: "Noto Sans HK", sans-serif;
  font-size: 0.8rem;
  color: black;
  padding: 0.1rem;
  text-align: center;
}

footer .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .socialMedia img {
  width: 2rem;
  height: 2rem;
  padding: 0.1rem;
  margin: 0.5rem;
}

@media only screen and (max-width: 400px) {
  /*celular*/
  footer {
    background-color: #e6b464;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    font-size: 0.5rem;
  }
  footer img {
    width: 0.7rem;
    height: 0.7rem;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  /*tablet*/
  footer {
    background-color: #e6b464;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    font-size: 0.7rem;
  }
  footer img {
    width: 1rem;
    height: 1rem;
  }
}

/*general*/
/*imagen*/
/*título de las fotos en pág principal*/
/*h2*/
/*botón1*/
/*botón2*/
/*acordion*/
/*footer*/
/*Grid*/
/*404*/
.fotoReceta {
  width: 300px;
  height: 200px;
  padding: 2px;
  margin: auto;
}

.fotoReceta img {
  border: solid 1px #564D3F;
}

.fotoReceta img:hover {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.ingredientes {
  background-color: cornsilk;
  border: solid 1px #564D3F;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 10px;
}

.ingredientes h2 {
  background-color: lightpink;
  border-radius: 5px;
  border: whitesmoke solid 2px;
  padding: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.ingredientes li {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 0.7rem;
}

.pasos {
  background-color: cornsilk;
  border: solid 1px #564D3F;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 10px;
}

.pasos h2 {
  background-color: lightpink;
  border-radius: 5px;
  border: whitesmoke solid 2px;
  padding: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pasos li {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 0.7rem;
}

/*general*/
/*imagen*/
/*título de las fotos en pág principal*/
/*h2*/
/*botón1*/
/*botón2*/
/*acordion*/
/*footer*/
/*Grid*/
/*404*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

/*general*/
/*imagen*/
/*título de las fotos en pág principal*/
/*h2*/
/*botón1*/
/*botón2*/
/*acordion*/
/*footer*/
/*Grid*/
/*404*/
/*general*/
/*imagen*/
/*título de las fotos en pág principal*/
/*h2*/
/*botón1*/
/*botón2*/
/*acordion*/
/*footer*/
/*Grid*/
/*404*/
.formulario .formulario__boton2, nav .boton, .acordion .acordion__boton1, .acordion .acordion__boton4, .acordion .acordion__boton7, .acordion .acordion__boton2, .acordion .acordion__boton5, .acordion .acordion__boton8, .acordion .acordion__boton3, .acordion .acordion__boton6, .acordion .acordion__boton9 {
  background-color: lightpink;
  border-radius: 5px;
  border: whitesmoke solid 2px;
  padding: 0.5rem;
}

h3 {
  text-align: center;
  padding: 3rem;
}

.acordion {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), to(#fff6db));
  background-image: linear-gradient(to top, white, #fff6db);
  border: solid 1px #564D3F;
  border-radius: 5px;
  width: 60%;
  margin: auto;
}

.acordion .acordion__boton1, .acordion .acordion__boton4, .acordion .acordion__boton7 {
  background-color: whitesmoke solid 2px;
  width: 99.9%;
  height: 5rem;
}

.acordion .acordion__boton1:hover, .acordion .acordion__boton4:hover, .acordion .acordion__boton7:hover {
  background-color: grey;
}

.acordion .acordion__boton2, .acordion .acordion__boton5, .acordion .acordion__boton8 {
  background-color: #61c0bf;
  width: 99.9%;
  height: 5rem;
}

.acordion .acordion__boton2:hover, .acordion .acordion__boton5:hover, .acordion .acordion__boton8:hover {
  background-color: grey;
}

.acordion .acordion__boton3, .acordion .acordion__boton6, .acordion .acordion__boton9 {
  background-color: #e6c486;
  width: 99.9%;
  height: 5rem;
}

.acordion .acordion__boton3:hover, .acordion .acordion__boton6:hover, .acordion .acordion__boton9:hover {
  background-color: grey;
}

.acordion .acordion__p {
  text-align: center;
  font-size: 150%;
  margin: 1rem;
}

/*general*/
/*imagen*/
/*título de las fotos en pág principal*/
/*h2*/
/*botón1*/
/*botón2*/
/*acordion*/
/*footer*/
/*Grid*/
/*404*/
.semana {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (14.27%)[7];
      grid-template-columns: repeat(7, 14.27%);
  -ms-grid-rows: 10% 45% 45%;
      grid-template-rows: 10% 45% 45%;
  grid-column-gap: 2px;
  grid-row-gap: 1px;
      grid-template-areas: "domingo lunes martes miércoles jueves viernes sábado" "aDomingo aLunes aMartes aMiércoles aJueves aViernes aSábado" "cDomingo cLunes cMartes cMiércoles cJueves cViernes cSábado";
  padding: 8px;
  width: 99.9%;
  background-color: #EFDFE9;
  margin: auto;
  border: solid 1px #564D3F;
  border-radius: 5px;
}

.nada1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aDomingo;
}

.nada2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: aLunes;
}

.nada3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: aMartes;
}

.nada4 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: aMiércoles;
}

.nada5 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: aJueves;
}

.nada6 {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: aViernes;
}

.nada7 {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  grid-area: aSábado;
}

.nada8 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: cDomingo;
}

.nada9 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: cLunes;
}

.nada10 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: cMartes;
}

.nada11 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: cMiércoles;
}

.nada12 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: cJueves;
}

.nada13 {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: cViernes;
}

.nada14 {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  grid-area: cSábado;
}

.comida, .completar, .domingo, .lunes, .martes, .miércoles, .jueves, .viernes, .sábado {
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.completar {
  background-color: #e6b464;
  border-radius: 5px;
  border: white solid 2px;
  padding: 0.5rem;
}

.domingo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: domingo;
}

.lunes {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: lunes;
}

.martes {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: martes;
}

.miércoles {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: miércoles;
}

.jueves {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: jueves;
}

.viernes {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: viernes;
}

.sábado {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: sábado;
}

/*.error {
    background-color: $bg-error;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}*/
@media only screen and (max-width: 400px) {
  /*celular*/
  .semana {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[21];
        grid-template-rows: repeat(21, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 1px;
        grid-template-areas: "domingo" "aDomingo" "cDomingo"  "lunes" "aLunes" "cLunes"  "martes" "aMartes" "cMartes"  "miércoles" "aMiércoles" "cMiércoles"  "jueves" "aJueves" "cJueves"  "viernes" "aViernes" "cViernes"  "sábado" "aSábado" "cSábado";
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  /*tablet*/
  .semana {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[21];
        grid-template-rows: repeat(21, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 1px;
        grid-template-areas: "domingo" "aDomingo" "cDomingo"  "lunes" "aLunes" "cLunes"  "martes" "aMartes" "cMartes"  "miércoles" "aMiércoles" "cMiércoles"  "jueves" "aJueves" "cJueves"  "viernes" "aViernes" "cViernes"  "sábado" "aSábado" "cSábado";
  }
}

/*general*/
/*imagen*/
/*título de las fotos en pág principal*/
/*h2*/
/*botón1*/
/*botón2*/
/*acordion*/
/*footer*/
/*Grid*/
/*404*/
.error__titulo {
  color: whitesmoke;
  font-size: 2rem;
  padding: 5rem;
  margin: auto;
}

.error__icono {
  width: 50%;
  height: 50%;
  padding: 2px;
  margin: auto;
  justify-items: center;
}

.error__icono img {
  width: 60%;
  height: 60%;
  padding: 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=estilo.css.map */