/*general*/
$color-bg:whitesmoke;
$border:5px;
$shadow: 0px 3px 10px -2px rgba(176,131,54,0.85);
$color-primary: #e6b464;
$iconoWidth: 5.5rem;
/*imagen*/
$imgRecetaAncho: 300px;
$imgRecetaAlto: 200px;
$imgPadding:2px;
$imgOpacity:0.7;
/*título de las fotos en pág principal*/
$letraReceta: 'Roboto', sans-serif;
$sizeLetraReceta: 1.6rem;
$lugarNombreReceta:center;
$colorNombreReceta:whitesmoke;
/*h2*/
$colorH2:#564D3F;
$marginH2:10px;
$paddingH2:0.7rem;
$FontH2: 'Roboto', sans-serif;
$SizeFontH2:1rem;
$color-secondary:cornsilk;
$border-secondary: solid 1px #564D3F;
$opacity-secondary:0.7;
$padding-secondary:20px;
$margin-secondary:2rem;
/*botón*/
$botonColor:lightpink;
$botonBorde: whitesmoke solid 2px;
$botonPadding:0.5em;
/*acordion*/
$bg-ColorAcordion:#fff6db;
$bg-ColorAcordion-secondary: #836de6;
$BorderAcordion:#836de6 solid 1px;
/*footer*/
$paddingFooter:0.1rem;
$marginFooter:1rem;
$fontFooter:'Noto Sans HK', sans-serif;
$fontSizeFooter:0.8rem;
$fontFooterColor:black;
/*Grid*/
$gridSize:14.27%;
/*404*/
$bg-error:black;



* {
    margin:0;
    padding:0;
}

body {
    background-color: $color-bg;
}



header {
    border-radius: $border;
    box-shadow: $shadow;
    }

main {
    margin:10px;
    padding-bottom:2rem;
}

nav {                                        
    background-color: $color-primary;
    
    .boton {
        background-color: $botonColor;
        border-radius: $border;
        border: $botonBorde;
        padding: $botonPadding;
    }
}

.icono{                                     
    
    width: $iconoWidth;
    
    img { 
        
        width: 100%;
        height: 100%;
        padding:0.5rem;
    }

 }


 .galeria {                               
                        
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    .galeriaRecetas{                           /*Elemento sin formato previo modificado con SCSS clase 12*/

        width:$imgRecetaAncho;
        height:$imgRecetaAlto;

    img {
        border-radius:$border;
        width:$imgRecetaAncho;
        height:$imgRecetaAlto;
        padding: $imgPadding;
        &:hover{ opacity:$imgOpacity}
    }


    a {
        text-decoration: none;
        color:black;
        position: initial;
        transform: translate(1%, -300%);
 
    .nombreReceta {
        font-family: $letraReceta;
        text-align: $lugarNombreReceta;
        font-size: $sizeLetraReceta;
        color: $colorNombreReceta;
        font-weight: 700;
        position: initial;
        transform: translate(1%, -300%);
        opacity:0;

    &:hover{  opacity:1;
              text-shadow: 2px 0 0 grey, -2px 0 0 grey, 0 2px 0 grey, 0 -2px 0 grey, 1px 1px grey, -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey;
            }
                
        }

      }

    }
 }



    footer {                                              
        background-color: $color-primary;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
           p { font-family: $fontFooter;
                 font-size: $fontSizeFooter;
                 color: $fontFooterColor;
                 padding: $paddingFooter;
                 text-align: center;
                 
             }
    
            .socialMedia {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;  
    
                        img { 
                        
                        width: 2rem;
                        height: 2rem;
                        padding: $paddingFooter;
                        margin:$marginFooter;
                        
                    }
    
            }
    
    
    
    }
    

    @media only screen and (max-width: 400px) { /*celular*/

        footer {                                              
            background-color: $color-primary;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            p{                                  
                font-size: 0.5rem;
            }

            img {
                width:0.7rem;
                height:0.7rem;
            }
        }
    }

    @media only screen and (min-width: 401px) and (max-width: 960px)  { /*tablet*/

        footer {                                              
            background-color: $color-primary;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        
        p {                                    
            font-size: 0.7rem;
        }

        img {
            width:1rem;
            height:1rem;
        }
        
    }

    }

.formulario {                                
    background-color: $color-secondary;
    border:$border-secondary;
    border-radius: $border;
    width: fit-content;
    margin: auto;
           form{
               text-align: left;
               padding:$padding-secondary;
               margin:$margin-secondary;
           }

           .formulario__form--boton{

            background-color: $botonColor;
            border-radius: $border;
            border: 1px solid hotpink;
            padding: $botonPadding;
        
        }

        input {
            border-radius: $border;
            padding: $paddingFooter;
        }

        select{
            border-radius: $border;
            padding: $paddingFooter;
            border-color:pink;

        }
}



.fotoReceta{
    width:$imgRecetaAncho;
    height:$imgRecetaAlto;
    padding: $imgPadding;
    margin: auto;
          img {
              border:$border-secondary;
              &:hover{ transform: scale(1.8);}
          }
}

.ingredientes {                                             
              background-color: $color-secondary;
              border:$border-secondary;
              border-radius: $border;
              padding:$paddingH2;
              margin: $marginH2;
          
              h2 {
                background-color: $botonColor;
                border-radius: $border;
                border: $botonBorde;
                padding: $botonPadding;
                width: fit-content;
              }
              

          li {
              font-family:$FontH2;
              font-size: $SizeFontH2;
              padding: $paddingH2;
             

}

}

.pasos {                                             
    background-color: $color-secondary;
    border:$border-secondary;
    border-radius: $border;
    padding:$paddingH2;
    margin: $marginH2;

    h2 {
        background-color: $botonColor;
        border-radius: $border;
        border: $botonBorde;
        padding: $botonPadding;
        width:fit-content;
      }
    

li {
    font-family:$FontH2;
    font-size: $SizeFontH2;
    padding: $paddingH2;
   

}

}

.acordion {                                                /*Bloque sin formato previo modificado con SCSS clase 12*/
    background-color: $bg-ColorAcordion;
    border: $border-secondary;
    border-radius: $border;

        .listaAcordion {
            background-image: linear-gradient(to top, white, #fff6db);
        
         ul {
             list-style: none;
                li{
                    opacity:1;
                    font-family: $FontH2;
                }             
         }
}

}

.tituloAcordion{
    font-family: $FontH2;
    font-weight: 800;
}

.semana {                                                           /*Bloque sin formato previo modificado con SCSS clase 12*/
    display:grid;
    grid-template-columns: repeat(7, $gridSize);
    grid-template-rows: 10% 45% 45%;
    grid-column-gap: 2px;
    grid-row-gap: 1px; 
    grid-template-areas: "domingo lunes martes miércoles jueves viernes sábado"
                         "aDomingo aLunes aMartes aMiércoles aJueves aViernes aSábado"
                         "cDomingo cLunes cMartes cMiércoles cJueves cViernes cSábado";
    padding:8px;
    width: 99.9%;
    background-color: #EFDFE9;
    margin:auto;
    border:$border-secondary;
    border-radius: $border;
}


.nada1 {

    grid-area:aDomingo;
    
}

.nada2{
    grid-area:aLunes;
}   

.nada3{
    grid-area:aMartes;
    
}

.nada4 {
    grid-area:aMiércoles;
    
}

.nada5 {
    grid-area:aJueves;
    
}

.nada6 {
    grid-area:aViernes;
    
}

.nada7 {
    grid-area:aSábado;
    
}

.nada8 {
    grid-area:cDomingo;
    
}

.nada9 {
    grid-area:cLunes;
    
}
.nada10{
    grid-area:cMartes;
    
}
.nada11{
    grid-area:cMiércoles;
    
}
.nada12{
    grid-area:cJueves;
    
}
.nada13{
    grid-area:cViernes;
    
}
.nada14{
    grid-area:cSábado;
}

%header {
padding:0.5rem;
margin: 1rem;
text-align: center;
align-self: center;
font-family: $FontH2;
font-size: $SizeFontH2;
font-weight: bold;
}

.comida{
@extend%header;
}

.completar{
    @extend%header;
    background-color: $color-primary;
    border-radius: $border;
    border: white solid 2px;
    padding: $botonPadding;
}

.domingo{
    grid-area: domingo;
    @extend%header;
}

.lunes{
    grid-area: lunes;
    @extend%header;
}

.martes{
    grid-area: martes;
    @extend%header;
    
}

.miércoles{
    grid-area: miércoles;
    @extend%header;

}

.jueves{ 
    grid-area: jueves;
    @extend%header;
}

.viernes{

    grid-area: viernes;
    @extend%header;
}

.sábado{
    grid-area: sábado;
    @extend%header;
} 


.error {
    background-color: $bg-error;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.error__titulo{
    color:whitesmoke;
    font-size: 2rem;
    padding:5rem;
    margin: auto;
}

.error__icono {
    width:50%;
    height:50%;
    padding: $imgPadding;
    margin: auto;
    justify-items: center;
      
         img {
                width:60%;
                height:60%;
                padding: $imgPadding;
                align-self: center;
                  
              }
            
}





