.galeria {                               
                        
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    .galeriaRecetas{                           

        width:$imgRecetaAncho;
        height:$imgRecetaAlto;

    img {
        border-radius:$border;
        width:$imgRecetaAncho;
        height:$imgRecetaAlto;
        padding: $imgPadding;
        &:hover{ opacity:$imgOpacity}
    }


    a {
        text-decoration: none;
        color:black;
        position: initial;
        transform: translate(1%, -300%);
 
    .nombreReceta {
        font-family: $letraReceta;
        text-align: $lugarNombreReceta;
        font-size: $sizeLetraReceta;
        color: $colorNombreReceta;
        font-weight: 700;
        position: initial;
        transform: translate(1%, -300%);
        opacity:0;

    &:hover{  opacity:1;
              text-shadow: 2px 0 0 grey, -2px 0 0 grey, 0 2px 0 grey, 0 -2px 0 grey, 1px 1px grey, -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey;
            }
                
        }

      }

    }
 }
