@import "variables";

.semana {                                                           
    display:grid;
    grid-template-columns: repeat(7, $gridSize);
    grid-template-rows: 10% 45% 45%;
    grid-column-gap: 2px;
    grid-row-gap: 1px; 
    grid-template-areas: "domingo lunes martes miércoles jueves viernes sábado"
                         "aDomingo aLunes aMartes aMiércoles aJueves aViernes aSábado"
                         "cDomingo cLunes cMartes cMiércoles cJueves cViernes cSábado";
    padding:8px;
    width: 99.9%;
    background-color: #EFDFE9;
    margin:auto;
    border:$border-secondary;
    border-radius: $border;
}


.nada1 {

    grid-area:aDomingo;
    
}

.nada2{
    grid-area:aLunes;
}   

.nada3{
    grid-area:aMartes;
    
}

.nada4 {
    grid-area:aMiércoles;
    
}

.nada5 {
    grid-area:aJueves;
    
}

.nada6 {
    grid-area:aViernes;
    
}

.nada7 {
    grid-area:aSábado;
    
}

.nada8 {
    grid-area:cDomingo;
    
}

.nada9 {
    grid-area:cLunes;
    
}
.nada10{
    grid-area:cMartes;
    
}
.nada11{
    grid-area:cMiércoles;
    
}
.nada12{
    grid-area:cJueves;
    
}
.nada13{
    grid-area:cViernes;
    
}
.nada14{
    grid-area:cSábado;
}

%header {
padding:0.5rem;
margin: 1rem;
text-align: center;
align-self: center;
font-family: $FontH2;
font-size: $SizeFontH2;
font-weight: bold;
}

.comida{
@extend%header;
}

.completar{
    @extend%header;
    background-color: $color-primary;
    border-radius: $border;
    border: white solid 2px;
    padding: $botonPadding;
}

.domingo{
    grid-area: domingo;
    @extend%header;
}

.lunes{
    grid-area: lunes;
    @extend%header;
}

.martes{
    grid-area: martes;
    @extend%header;
    
}

.miércoles{
    grid-area: miércoles;
    @extend%header;

}

.jueves{ 
    grid-area: jueves;
    @extend%header;
}

.viernes{

    grid-area: viernes;
    @extend%header;
}

.sábado{
    grid-area: sábado;
    @extend%header;
} 


.error {
    background-color: $bg-error;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
