@import "variables";

header {
    border-radius: $border;
    box-shadow: $shadow;
    }

main {
    margin:10px;
    padding-bottom:2rem;
}

%boton {
    background-color: $botonColor;
    border-radius: $border;
    border: $botonBorde;
    padding: $botonPadding;
}

nav {                                        
    background-color: $color-primary;
    
    .boton {
        @extend%boton;
    }
}

.icono{                                     
    
    width: $iconoWidth;
    
    img { 
        
        width: 100%;
        height: 100%;
        padding:0.5rem;
    }

 }
