@import "variables";

.fotoReceta{
    width:$imgRecetaAncho;
    height:$imgRecetaAlto;
    padding: $imgPadding;
    margin: auto;
          img {
              border:$border-secondary;
              
          }
}

.ingredientes {                                             
              background-color: $color-secondary;
              border:$border-secondary;
              border-radius: $border;
              padding:$paddingH2;
              margin: $marginH2;
          
              h2 {
                background-color: $botonColor;
                border-radius: $border;
                border: $botonBorde;
                padding: $botonPadding;
                width: fit-content;
              }
              

          li {
              font-family:$FontH2;
              font-size: $SizeFontH2;
              padding: $paddingH2;
             

}

}

.pasos {                                             
    background-color: $color-secondary;
    border:$border-secondary;
    border-radius: $border;
    padding:$paddingH2;
    margin: $marginH2;

    h2 {
        background-color: $botonColor;
        border-radius: $border;
        border: $botonBorde;
        padding: $botonPadding;
        width:fit-content;
      }
    

li {
    font-family:$FontH2;
    font-size: $SizeFontH2;
    padding: $paddingH2;
   

}

}
